.App {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f9;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #333;
  color: white;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav button {
  background: none;
  border: none;
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav button.active {
  border-bottom: 2px solid #007bff;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px 0;
}

.project {
  margin: 10px 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.profile-photo:hover {
  box-shadow: 0 0 25px rgba(0, 123, 255, 0.8);
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1ms;
}
.fade-exit {
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1ms;
}
