body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.container {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.description {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.2em;
}

ul.task-list {
  list-style: none;
  padding: 0;
}

.task {
  background-color: var(--task-bg-color);
  border: 1px solid var(--task-border-color);
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.task.complete {
  text-decoration: line-through;
  opacity: 0.7;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.task-actions a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--action-link-color);
  transition: color 0.3s;
}

.task-actions a:hover {
  color: var(--action-link-hover-color);
}

footer {
  text-align: center;
  padding: 5px;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  position: relative;
  bottom: 0;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.floating-button, .theme-toggle {
  background-color: var(--floating-button-bg);
  color: var(--floating-button-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  position: fixed;
  right: 50%;
  transform: translateX(50%);
}

.floating-button {
  position: fixed;
  bottom: 50%;
  right: 70px;
  top: 55%;
  transform: translate(50%, -50%);
}

.floating-button.rotate {
  transform: translate(50%, -50%) rotate(45deg);
}

.theme-toggle {
  position: fixed;
  bottom: 50%;
  right: 70px;
  top: 45%;
  transform: translate(50%, -50%);
}

.theme-toggle.rotated {
  transform: translate(50%, -50%) rotate(180deg);
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  margin-bottom: 5;
}

.modal-content {
  background-color: var(--modal-bg-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  transition: background-color 0.3s;
}

.modal-header {
  margin-bottom: 20px;
  text-align: center;
}

.modal-header h2 {
  margin: 0;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-align: center;
}

input[type="text"], input[type="datetime-local"], textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color 0.3s;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"]:focus, input[type="datetime-local"]:focus, textarea:focus {
  border-color: var(--input-border-focus-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
  display: block;
  margin: 0 auto;
  margin-top: auto;
}

button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
  --task-bg-color: #fff;
  --task-border-color: #ddd;
  --footer-bg-color: #b0b0b0;
  --footer-text-color: #000000;
  --floating-button-bg: #007bff;
  --floating-button-color: #fff;
  --modal-bg-color: #fff;
  --button-bg-color: #007bff;
  --button-text-color: #fff;
  --button-hover-bg-color: #0056b3;
  --button-hover-text-color: #fff;
  --input-border-color: #ccc;
  --input-border-focus-color: #007bff;
  --action-link-color: #007bff;
  --action-link-hover-color: #0056b3;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --task-bg-color: #333;
  --task-border-color: #444;
  --footer-bg-color: #222;
  --footer-text-color: #e0e0e0;
  --floating-button-bg: #e0e0e0;
  --floating-button-color: #121212;
  --modal-bg-color: #333;
  --button-bg-color: #e0e0e0;
  --button-text-color: #121212;
  --button-hover-bg-color: #fff;
  --button-hover-text-color: #000;
  --input-border-color: #555;
  --input-border-focus-color: #e0e0e0;
  --action-link-color: #e0e0e0;
  --action-link-hover-color: #fff;
}

